<p id="notice"><%= notice %></p>

<h1>Listing Cms Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cms_attachments.each do |cms_attachment| %>
      <tr>
        <td><%= cms_attachment.title %></td>
        <td><%= cms_attachment.document %></td>
        <td><%= link_to 'Show', cms_attachment %></td>
        <td><%= link_to 'Edit', edit_cms_attachment_path(cms_attachment) %></td>
        <td><%= link_to 'Destroy', cms_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachment', new_cms_attachment_path %>
