<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cms_attachment.title %>
</p>

<p>
  <strong>Document:</strong>
  <%= @cms_attachment.document %>
</p>

<%= link_to 'Edit', edit_cms_attachment_path(@cms_attachment) %> |
<%= link_to 'Back', cms_attachments_path %>
