<%= form_for(@cms_school) do |f| %>
  <% if @cms_school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms_school.errors.count, "error") %> prohibited this cms_school from being saved:</h2>

      <ul>
      <% @cms_school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chapter_id %><br>
    <%= f.select(:chapter_id, Cms::Chapter.all.collect {|a| [a.name, a.id]}) -%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <p>Format: www.myschool.com</p>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :representative %><br>
    <%= f.text_field :representative %>
  </div>
  <div class="field">
    <%= f.label :rep_email %><br>
    <%= f.text_field :rep_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
