<p id="notice"><%= notice %></p>
<h1 class="display-1">Listing CMS Schools</h1>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Chapter</th>
			<th scope="col">Name</th>
			<th scope="col">Code</th>
			<th scope="col">Website</th>
			<th scope="col">Representative</th>
			<th scope="col">Representative Email</th>
			<th scope="col" colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @cms_schools.each do |cms_school| %>
			<tr>
				<th scope="row"><%= cms_school.chapter_id %></th>
				<td><%= cms_school.name %></td>
				<td><%= cms_school.code %></td>
				<td><%= cms_school.website %></td>
				<td><%= cms_school.representative %></td>
				<td><%= cms_school.rep_email %></td>
				<td><%= link_to 'Show', cms_school %></td>
				<td><%= link_to 'Edit', edit_cms_school_path(cms_school) %></td>
				<td><%= link_to 'Destroy', cms_school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'New School', new_cms_school_path %></button