<p id="notice"><%= notice %></p>

<p>
  <strong>Chapter:</strong>
  <%= @cms_school.chapter_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cms_school.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @cms_school.code %>
</p>

<p>
  <strong>Website:</strong>
  <%= @cms_school.website %>
</p>

<p>
  <strong>Representative:</strong>
  <%= @cms_school.representative %>
</p>

<p>
  <strong>Rep email:</strong>
  <%= @cms_school.rep_email %>
</p>

<%= link_to 'Edit', edit_cms_school_path(@cms_school) %> |
<%= link_to 'Back', cms_schools_path %>
