<p id="notice"><%= notice %></p>

<h1>Cms Announcements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Target audience</th>
      <th>Description</th>
      <th>Created</th>
      <th>Updated</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @cms_announcements.each do |cms_announcement| %>
      <tr>
        <td><%= cms_announcement.title %></td>
        <td><%= cms_announcement.target_audience %></td>
        <td><%= cms_announcement.description %></td>
  	<td><%= cms_announcement.created_at %></td>
        <td><%= cms_announcement.updated_at %></td>	
        <td><%= link_to 'Show', cms_announcement %></td>
        <td><%= link_to 'Edit', edit_cms_announcement_path(cms_announcement) %></td>
        <td><%= link_to 'Destroy', cms_announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_cms_announcement_path %>
