<p id="notice"><%= notice %></p>
<h1 class="display-1">CMS Announcements</h1>
<hr>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Target Audience</th>
			<th scope="col">Description</th>
			<th scope="col" colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @cms_announcements.each do |cms_announcement| %>
			<tr>
				<th scope="row"><%= cms_announcement.title %></th>
				<td><%= cms_announcement.target_audience %></td>
				<td><%= cms_announcement.description %></td>
				<td><%= link_to 'Show', cms_announcement %></td>
				<td><%= link_to 'Edit', edit_cms_announcement_path(cms_announcement) %></td>
				<td><%= link_to 'Destroy', cms_announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'New CMS Announcement', new_cms_announcement_path %></button>