<p id="notice"><%= notice %></p>

<h1>Listing Cms Conventions</h1>
<div class = "col-sm-6">
	<table class="table table-striped">
	  <thead class = 'thead-inverse'>
		<tr>
		  <th>Year</th>
		  <th>Theme</th>
		  <th>Image</th>
		  <th>What</th>
		  <th>When</th>
		  <th>Where</th>
		  <th>Address</th>
		  <th>City</th>
		  <th>State</th>
		  <th>Zip code</th>
		  <th>Phone</th>
		  <th>Fax</th>
		  <th>Email</th>
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% @cms_conventions.each do |cms_convention| %>
		  <tr>
			<td><%= cms_convention.year %></td>
			<td><%= cms_convention.theme %></td>
			<td><a href = "<%= cms_convention.image.url %>"> <%= cms_convention.image.original_filename %> </a></td>
			<td><%= cms_convention.what %></td>
			<td><%= cms_convention.when %></td>
			<td><%= cms_convention.where %></td>
			<td><%= cms_convention.address %></td>
			<td><%= cms_convention.city %></td>
			<td><%= cms_convention.state %></td>
			<td><%= cms_convention.zip_code %></td>
			<td><%= cms_convention.phone %></td>
			<td><%= cms_convention.fax %></td>
			<td><%= cms_convention.email %></td>
			<td><%= link_to 'Show', cms_convention %></td>
			<td><%= link_to 'Edit', edit_cms_convention_path(cms_convention) %></td>
			<td><%= link_to 'Destroy', cms_convention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	
<%= link_to 'New Convention', new_cms_convention_path %>
</div>
<br>
