<p id="notice"><%= notice %></p>
<h1 class="display-1">Listing CMS Conventions</h1>
<hr>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Year</th>
			<th scope="col">Theme</th>
			<th scope="col">Image</th>
			<th scope="col">What</th>
			<th scope="col">When</th>
			<th scope="col">Where</th>
			<th scope="col">Address</th>
			<th scope="col">City</th>
			<th scope="col">State</th>
			<th scope="col">Zip Code</th>
			<th scope="col">Phone</th>
			<th scope="col">Fax</th>
			<th scope="col">Email</th>
			<th scope="col" colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @cms_conventions.each do |cms_convention| %>
			<tr>
				<th scope="row"><%= cms_convention.year %></th>
				<td><%= cms_convention.theme %></td>
				<td><%= cms_convention.image %></td>
				<td><%= cms_convention.what %></td>
				<td><%= cms_convention.when %></td>
				<td><%= cms_convention.where %></td>
				<td><%= cms_convention.address %></td>
				<td><%= cms_convention.city %></td>
				<td><%= cms_convention.state %></td>
				<td><%= cms_convention.zip_code %></td>
				<td><%= cms_convention.phone %></td>
				<td><%= cms_convention.fax %></td>
				<td><%= cms_convention.email %></td>
				<td><%= link_to 'Show', cms_convention %></td>
				<td><%= link_to 'Edit', edit_cms_convention_path(cms_convention) %></td>
				<td><%= link_to 'Destroy', cms_convention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'New Convention', new_cms_convention_path %></button>