<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @cms_convention.year %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @cms_convention.theme %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cms_convention.image %>
</p>

<p>
  <strong>What:</strong>
  <%= @cms_convention.what %>
</p>

<p>
  <strong>When:</strong>
  <%= @cms_convention.when %>
</p>

<p>
  <strong>Where:</strong>
  <%= @cms_convention.where %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cms_convention.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @cms_convention.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @cms_convention.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @cms_convention.zip_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @cms_convention.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @cms_convention.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cms_convention.email %>
</p>

<%= link_to 'Edit', edit_cms_convention_path(@cms_convention) %> |
<%= link_to 'Back', cms_conventions_path %>
