<p id="notice"><%= notice %></p>
<h1 class="display-1">Listing CMS Page Sections</h1>
<hr>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Page</th>
			<th scope="col">Image</th>
			<th scope="col">Body</th>
			<!--
			<th scope="col">Position</th>
			<th scope="col">Alignment</th>
			-->
			<th scope="col" colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @cms_page_sections.each do |cms_page_section| %>
			<tr>
				<th scope="row"><%= cms_page_section.page.title %></th>
				<td><%= image_tag cms_page_section.photo.url(:thumb), class: "img-responsive" %></td>
				<td><%= ActionView::Base.full_sanitizer.sanitize(cms_page_section.body)[0..200] %></td>
				<!--
				<td><%= cms_page_section.position %></td>
				<td><%= cms_page_section.alignment %></td> 
				-->
				<td><%= link_to 'Show', cms_page_section %></td>
				<td><%= link_to 'Edit', edit_cms_page_section_path(cms_page_section) %></td>
				<td><%= link_to 'Destroy', cms_page_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
<%= link_to 'New Page Section', new_cms_page_section_path, :class => "btn btn-secondary btn-large" %>
