<p id="notice"><%= notice %></p>

<p>
	<strong>Page ID:</strong>
	<%= @cms_page_section.page_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @cms_page_section.photo.url %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw @cms_page_section.body %>
</p>


<%= link_to 'Edit', edit_cms_page_section_path(@cms_page_section) %> |
<%= link_to 'Back', cms_page_sections_path %>
