<%= form_for(cms_award) do |f| %>
  <% if cms_award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cms_award.errors.count, "error") %> prohibited this cms_award from being saved:</h2>

      <ul>
      <% cms_award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

<div id="document" class="form-group">
    <%= f.label :document %><br>
    <%= f.file_field :document, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
