<p id="notice"><%= notice %></p>

<h1>Cms Awards</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cms_awards.each do |cms_award| %>
      <tr>
        <td><%= cms_award.title %></td>
        <td><%= cms_award.description %></td>
        <td><%= link_to 'Show', cms_award %></td>
        <td><%= link_to 'Edit', edit_cms_award_path(cms_award) %></td>
        <td><%= link_to 'Destroy', cms_award, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cms Award', new_cms_award_path %>
