<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default amin-panel">
			<div class="panel-heading" style="background-color: #055e33;">
				<h3 class='panel-title' style="color: white;">Home Page Slideshow</h3>
  			</div>
  			<div class="panel-body">
  				<ul class="list-group">
  					<li class="list-group-item"><%= link_to "Manage Slides", "/cms/slideshow_images" %></li>
				</ul>
  			</div>
		</div>
	</div>	

	<div class="col-sm-4">
		<div class="panel panel-default amin-panel">
			<div class="panel-heading" style="background-color: #055e33;">
				<h3 class='panel-title' style="color: white;">Announcements</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item"><%= link_to "Manage Announcements", "/cms/announcements" %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default amin-panel">
			<div class="panel-heading" style="background-color: #055e33;">
				<h3 class='panel-title' style="color: white;">Pages</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item"><%= link_to "Manage Pages", "/cms/pages" %></li>
					<li class="list-group-item"><%= link_to "Manage Page Sections", "/cms/page_sections" %></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default amin-panel">
			<div class="panel-heading" style="background-color: #055e33;">
				<h3 class='panel-title' style="color: white;">MVA Conventions</h3>
  			</div>
  			<div class="panel-body">
  				<ul class="list-group">
  					<li class="list-group-item"><%= link_to "Add Conventions", "/cms/conventions/new" %></li>
  					<li class="list-group-item"><%= link_to "List/Manage Conventions", "/cms/conventions" %></li>
				</ul>
  			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default amin-panel">
			<div class="panel-heading" style="background-color: #055e33;">
				<h3 class='panel-title' style="color: white;">Chapters</h3>
  			</div>
  			<div class="panel-body">
  				<ul class="list-group">
	  				<li class="list-group-item"><%= link_to "List Chapters", "/cms/chapters" %></li>
  					<% @chapters.each do |chapter| %>
  						<li class="list-group-item"><%= link_to "Edit #{chapter.name}", "/cms/chapters/" + chapter.id.to_s + "/edit" %></li>
  					<% end %>
  					<li class="list-group-item"><%= link_to "Add Chapter", "/cms/chapters" %></li>
  					<li class="list-group-item"><%= link_to "Remove Chapter", "#" %></li>
				</ul>
  			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default amin-panel">
			<div class="panel-heading" style="background-color: #055e33;">
				<h3 class='panel-title' style="color: white;">Schools</h3>
  			</div>
  			<div class="panel-body">
  				<ul class="list-group">
  					<li class="list-group-item"><%= link_to "Add School", "/cms/schools/new" %></li>
  					<li class="list-group-item"><%= link_to "List Schools", "/cms/schools" %></li>
  					<li class="list-group-item"><%= link_to "Manage Schools", "/cms/schools" %></li>
  				</ul>
  			</div>
		</div>
	</div>
</div>
</div>
<div class "row">
	<div class="col-sm-4">
		<div class="panel panel-default amin-panel">
			<div class="panel-heading" style="background-color: #055e33;">
				<h3 class='panel-title' style="color: white;">Awards</h3>
  			</div>
  			<div class="panel-body">
  				<ul class="list-group">
  					<li class="list-group-item"><%= link_to "Manage Awards", "/cms/awards" %></li>

				</ul>
  			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default amin-panel">
			<div class="panel-heading" style="background-color: #055e33;">
				<h3 class='panel-title' style="color: white;">Roles</h3>
  			</div>
  			<div class="panel-body">
  				<ul class="list-group">
  					<li class="list-group-item"><%= link_to "Add Role", "/cms/roles/new" %></li>
  					<li class="list-group-item"><%= link_to "Manage Roles", "/cms/roles" %></li>

				</ul>
  			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default amin-panel">
			<div class="panel-heading" style="background-color: #055e33;">
				<h3 class='panel-title' style="color: white;">Affiliations</h3>
  			</div>
  			<div class="panel-body">
  				<ul class="list-group">
  					<li class="list-group-item"><%= link_to "Manage Affiliates", "/cms/affiliations" %></li>

				</ul>
  			</div>
		</div>
	</div>
</div>