<p id="notice"><%= notice %></p>
<h1 class="display-1">Listing CMS Roles</h1>
<hr>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Title</th>
			<th scope="col" colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @cms_roles.each do |cms_role| %>
			<tr>
				<th scope="col"><%= cms_role.title %></th>
				<td><%= link_to 'Show', cms_role %></td>
				<td><%= link_to 'Edit', edit_cms_role_path(cms_role) %></td>
				<td><%= link_to 'Destroy', cms_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
<%= link_to 'New Role', new_cms_role_path, :class => "btn btn-secondary btn-lg" %>
