<p id="notice"><%= notice %></p>
<h1 class="display-1"><%= @cms_role.title %> Details</h1>
<hr>
<table class="table table-bordered table-responsive">
	<tbody>
		<tr>
			<th scope="row">Title</th>
			<td><%= @cms_role.title %></td>
		</tr>
	</tbody>
</table>
<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Edit', edit_cms_role_path(@cms_role) %></button>
<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Back', cms_roles_path %></button>