<%= form_for(@cms_slideshow_image) do |f| %>
  <% if @cms_slideshow_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms_slideshow_image.errors.count, "error") %> prohibited this cms_slideshow_image from being saved:</h2>

      <ul>
      <% @cms_slideshow_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
