<% if user_signed_in? && @chapter %>
	<div class="row">
  		<div class="col-xs-12">
   			<div class="alert alert-warning" role="alert">
    			<strong>WARNING: </strong> You are currently logged in.  Would you like to edit the <%= @chapter.name %>? 
    			<%= link_to "[ edit ]", :controller => "/cms/chapters", :action => "edit", :id => @chapter.id %>	   
			</div> <!-- .alert -->
		</div> <!-- /.col-xs-12-->
 	</div> <!-- /.row-->
<% end %>
<h1><%= @chapter.name %> </h1></br>
<% if @chapter.image.exists? %> <br />
	<img src="<%= @chapter.image %>" width = "20%" height = "15%" id="givenImage">
<% end %>
<div class="row">
	<div class="col-md-3 left-sidebar">
		<div class="panel panel-default">
			<!-- Default panel contents -->
		 	<div class="panel-heading"><h4>Scheduled Meetings</h4></div>
		 	<div class="list-group">
	      		<button type="button" class="list-group-item">None at this time</button>
	     	</div> <!-- /.list-group-->
	 	</div> <!-- /.panel -->
	 	<div class="panel panel-default">
			<!-- Default panel contents -->
		 	<div class="panel-heading"><h4>Meeting Minutes</h4></div>
		 	<div class="list-group">
		  		<% @chapter.chapter_meeting_minutes.each do |minutes| %>
		   			<button type="button" class="list-group-item">
		     			<%= link_to minutes.title, :action => "meeting_minutes", :id => minutes %><br />
		     			<%= minutes.meeting_date.to_s %>
		  			</button>
		  		<% end %>
				<% if user_signed_in? && @chapter %>
			 		<div class="row">
			 	 		<div class="col-xs-12">
			   				<div class="alert alert-warning center" role="alert">
			    				<%= link_to "[ Add Meeting Minutes ]", :controller => "/cms/chapter_meeting_minutes", :action => "new", :id => @chapter.id %>	   
			   				</div> <!-- /.alert -->
			  			</div> <!-- /.col-xs-12 -->
			 		</div> <!-- /.row -->
		  		<% end %>
	     	</div> <!-- /.list-group -->
		</div> <!-- /.panel -->
	</div> <!-- /.left-sidebar -->
 	<div class="col-md-6 chapter-officers">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading"><h4>Chapter Officers</h4></div>
			<div class="list-group">
		      	<button type="button" class="list-group-item">
		      		<strong>President:</strong> <%= @chapter.president %><br />
		      		<strong>School:</strong> <%= @chapter.president_school %><br />
		      		<strong>Email:</strong> <%= @chapter.president_email %>
		      	</button>
		      	<button type="button" class="list-group-item">
		      		<strong>Vice President:</strong> <%= @chapter.vice_pres %><br />
		      		<strong>School:</strong> <%= @chapter.vice_pres_school %><br />
		      		<strong>Email:</strong> <%= @chapter.vice_pres_email %>
		      	</button>
		      	<button type="button" class="list-group-item">
		        	<strong>Treasurer:</strong> <%= @chapter.treasurer %><br />
		      		<strong>School:</strong> <%= @chapter.treasurer_school %><br />
		      		<strong>Email:</strong> <%= @chapter.treasurer_email %>
		      	</button>
		      	<button type="button" class="list-group-item">
		        	<strong>Secretary:</strong> <%= @chapter.secretary %><br />
		      		<strong>School:</strong> <%= @chapter.secretary_school %><br />
		      		<strong>Email:</strong> <%= @chapter.secretary_email %>
		      	</button>
		     </div> <!-- /.list-group -->
		</div> 	<!-- /.panel -->
	</div> <!-- /.col-md-6 -->
 	<div class="col-md-3">
		<div class="panel panel-default">
	 		<!-- Default panel contents -->
	 		<div class="panel-heading"><h4>Chapter Schools</h4></div>
			<!-- List group -->
			<div class="list-group">
				<% @chapter.schools.each do |school| %>
					<a href="http://<%= school.website %>" class="list-group-item">
						<h4 class="list-group-item-heading"><%= school.name %></h4>
						<p class="list-group-item-text"><strong>Website:</strong> <%= school.website %></p>
						<p class="list-group-item-text"><strong>Representative:</strong> <%= school.representative %></p>
						<p class="list-group-item-text"><strong>Email:</strong> <%= school.rep_email %></p>
					</a>
				<% end %>
				<% if user_signed_in? && @chapter %>
					<div class="row">
						<div class="col-xs-12">
							<div class="alert alert-warning center" role="alert">
								<%= link_to "[ Add Chapter School ]", :controller => "/cms/schools", :action => "new", :id => @chapter.id %>	   
							</div> <!-- /.alert -->
						</div> <!-- /.col-xs-12 -->
					</div> <!-- /.row -->
				<% end %>
			</div> <!-- /.list-group -->
		</div> <!-- /.panel -->
	</div> <!-- /.col-md-3 -->
</div> <!-- /.row -->