<p id="notice"><%= notice %></p>
<h1 class="display-1">Listing CMS Chapters</h1>
<hr>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Code</th>
			<th scope="col" colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @cms_chapters.each do |cms_chapter| %>
			<tr>
				<th scope="row"><%= cms_chapter.name %></th>
				<td><%= cms_chapter.code %></td>
				<td><%= link_to 'Show', cms_chapter %></td>
				<td><%= link_to 'Edit', edit_cms_chapter_path(cms_chapter) %></td>
				<td><%= link_to 'Destroy', cms_chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
<%= link_to 'New Chapter', new_cms_chapter_path :class => "btn btn-secondary btn-lg" %>
