<p id="notice"><%= notice %></p>
<h1 class="display-1"><%= @cms_chapter.name %> Details</h1>
<hr>
<table class="table table-bordered table-responsive">
	<tbody>
		<tr>
			<th scope="row">Name</th>
			<td><%= @cms_chapter.name %></td>
		</tr>
		<tr>
			<th scope="row">Code</th>
			<td><%= @cms_chapter.code %></td>
		</tr>
		<tr>
			<th scope="row">Image</th>
			<td><%= @cms_chapter.image %></td>
		</tr>
		<tr>
			<th scope="row">Overview</th>
			<td><%= @cms_chapter.overview %></td>
		</tr>
		<tr>
			<th scope="row">President</th>
			<td><%= @cms_chapter.president %></td>
		</tr>
		<tr>
			<th scope="row">President School</th>
			<td><%= @cms_chapter.president_school %></td>
		</tr>
		<tr>
			<th scope="row">President Email</th>
			<td><%= @cms_chapter.president_email %></td>
		</tr>
		<tr>
			<th scope="row">Vice President</th>
			<td><%= @cms_chapter.vice_pres %></td>
		</tr>
		<tr>
			<th scope="row">Vice President School</th>
			<td><%= @cms_chapter.vice_pres_school %></td> 
		</tr>
		<tr>
			<th scope="row">Vice President Email</th>
			<td><%= @cms_chapter.vice_pres_email %></td>
		</tr>
		<tr>
			<th scope="row">Treasurer</th>
			<td><%= @cms_chapter.treasurer %></td>
		</tr>
		<tr>
			<th scope="row">Treasurer School</th>
			<td><%= @cms_chapter.treasurer_school %></td>
		</tr>
		<tr>
			<th scope="row">Treasurer Email</th>
			<td><%= @cms_chapter.treasurer_email %></td>
		</tr>
		<tr>
			<th scope="row">Secretary</th>
			<td><%= @cms_chapter.secretary %></td>
		</tr>
		<tr>
			<th scope="row">Secretary School</th>
			<td><%= @cms_chapter.secretary_school %></td>
		</tr>
		<tr>
			<th scope="row">Secretary Email</th>
			<td><%= @cms_chapter.secretary_email %></td>
		</tr>
	</tbody>
</table>
<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Edit', edit_cms_chapter_path(@cms_chapter) %></button>
<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Back', cms_chapters_path %></button>