<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cms_chapter.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @cms_chapter.code %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cms_chapter.image %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @cms_chapter.overview %>
</p>

<p>
  <strong>President:</strong>
  <%= @cms_chapter.president %>
</p>

<p>
  <strong>President school:</strong>
  <%= @cms_chapter.president_school %>
</p>

<p>
  <strong>President email:</strong>
  <%= @cms_chapter.president_email %>
</p>

<p>
  <strong>Vice pres:</strong>
  <%= @cms_chapter.vice_pres %>
</p>

<p>
  <strong>Vice pres school:</strong>
  <%= @cms_chapter.vice_pres_school %>
</p>

<p>
  <strong>Vice pres email:</strong>
  <%= @cms_chapter.vice_pres_email %>
</p>

<p>
  <strong>Treasurer:</strong>
  <%= @cms_chapter.treasurer %>
</p>

<p>
  <strong>Treasurer school:</strong>
  <%= @cms_chapter.treasurer_school %>
</p>

<p>
  <strong>Treasurer email:</strong>
  <%= @cms_chapter.treasurer_email %>
</p>

<p>
  <strong>Secretary:</strong>
  <%= @cms_chapter.secretary %>
</p>

<p>
  <strong>Secretary school:</strong>
  <%= @cms_chapter.secretary_school %>
</p>

<p>
  <strong>Secretary:</strong>
  <%= @cms_chapter.secretary %>
</p>

<%= link_to 'Edit', edit_cms_chapter_path(@cms_chapter) %> |
<%= link_to 'Back', cms_chapters_path %>
