<p id="notice"><%= notice %></p>
<h1 class="display-1">Listing CMS Chapter Meeting Minutes</h1>
<hr>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Meeting Date</th>
			<th scope="col">Document</th>
			<th scope="col">Chapter</th>
			<th scope="col" colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @cms_chapter_meeting_minutes.each do |cms_chapter_meeting_minute| %>
			<tr>
				<th scope="row"><%= cms_chapter_meeting_minute.title %></th>
				<td><%= cms_chapter_meeting_minute.meeting_date %></td>
				<td><%= cms_chapter_meeting_minute.document %></td>
				<td><%= Cms::Chapter.find(cms_chapter_meeting_minute.chapter_id).name %></td>
				<td><%= link_to 'Show', cms_chapter_meeting_minute %></td>
				<td><%= link_to 'Edit', edit_cms_chapter_meeting_minute_path(cms_chapter_meeting_minute) %></td>
				<td><%= link_to 'Destroy', cms_chapter_meeting_minute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
<%= link_to 'New Chapter Meeting Minute', new_cms_chapter_meeting_minute_path :class => "btn btn-secondary btn-lg" %>
