<p id="notice"><%= notice %></p>
<h1 class="display-1"><%= @cms_chapter_meeting_minute.title %> Details</h1>
<hr>
<table class="table table-bordered table-responsive">
	<tbody>
		<tr>
			<th scope="row">Title</th>
			<td><%= @cms_chapter_meeting_minute.title %></td>
		</tr>
		<tr>
			<th scope="row">Meeting Date</th>
			<td><%= @cms_chapter_meeting_minute.meeting_date %></td>
		</tr>
		<tr>
			<th scope="row">Document</td>
			<td><%= @cms_chapter_meeting_minute.document %></td>
		</tr>
		<tr> 
			<th scope="row">Chapter</th>
			<td><%= Cms::Chapter.find(@cms_chapter_meeting_minute.chapter_id).name %></td>
		</tr>
	</tbody>
</table>
<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Edit', edit_cms_chapter_meeting_minute_path(@cms_chapter_meeting_minute) %></button>
<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Back', cms_chapter_meeting_minutes_path %></button>