<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @cms_affiliation.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cms_affiliation.image %>
</p>

<%= link_to 'Edit', edit_cms_affiliation_path(@cms_affiliation) %> |
<%= link_to 'Back', cms_affiliations_path %>
