<%= form_for(@cms_page) do |f| %>
  <% if @cms_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms_page.errors.count, "error") %> prohibited this cms_page from being saved:</h2>

      <ul>
      <% @cms_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group" id="">
    <%= f.label :category %><br>
    <%= f.select :category, options_for_select(["Organization", "Organization: Featured Event", "Chapters", "Teachers","Students","Contact"], @cms_page.category ), :value => @cms_page.category, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :page_type %><br>
    <%= f.select :page_type, options_for_select(["Select Page Type", "Internal Link", "External Link", "Document", "Template"], @cms_page.page_type ), :value => @cms_page.page_type, :class => "form-control" %>
  </div>
  <div id="external_link" class="form-group">
    <%= f.label :external_url %><br>
    <%= f.text_field :external_url, class: "form-control" %>
  </div>
  <div id="internal_link" class="form-group">
    <%= f.label :internal_url %> <b>(Format: /controller/action) </b><br>
    <%= f.text_field :internal_url, class: "form-control" %>
  </div>
  <div id="document" class="form-group">
    <%= f.label :document %><br>
    <%= f.file_field :document, class: "form-control" %>
  </div>
  <div id="page_template" class="form-group">
    <div class="row">
	    <div class="col-md-4 col-md-offset-2">
		    <%= image_tag "cms/pages/one-column-vertical.png", :class => "img-responsive" %>
		    <div class="page-templates radio">
				<label><%= f.radio_button(:page_template_id, 0) %></label>
			</div>
	    </div>
	    <div class="col-md-4">
		    <%= image_tag "cms/pages/one-column-horizontal.png", :class => "img-responsive" %>
		    <div class="page-templates radio">
				<label><%= f.radio_button(:page_template_id, 1) %></label>
			</div>
	    </div>
	    <!--<div class="col-md-2">
		    <%= image_tag "cms/pages/two-column-vertical.png", :class => "img-responsive" %>
		    <div class="page-templates radio">
				<label><%= f.radio_button(:page_template_id, 2) %></label>
			</div>
		</div>
	    <div class="col-md-2">
		    <%= image_tag "cms/pages/two-column-horizontal.png", :class => "img-responsive" %>
		    <div class="page-templates radio">
				<label><%= f.radio_button(:page_template_id, 3) %></label>
			</div>
		</div>
	    <div class="col-md-2">
		    <%= image_tag "cms/pages/custom.png", :class => "img-responsive" %>
		    <div class="page-templates radio">
				<label><%= f.radio_button(:page_template_id, 4) %></label>
			</div>
		</div>-->
    </div>
  </div>
  
  
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>

