 <div class="form-group">
   <%= f.label :photo %><br>
   <%= image_tag f.object.photo.url, class: "img-responsive" %>
   <%= f.file_field :photo, :class => "form-control" %>
 </div>
 <div class="form-group">
   <%= f.label :body %><br>
   <%= f.text_area :body, :rows => 10, :class => "tinymce form-control" %>
   <%= tinymce %>
 </div>