<li><%= link_to "Dashboard", "/auth/admin/index" %></li>
<li><%= link_to "Edit Profile", "/users/edit" %></li>
<li role="separator" class="divider"></li>
<li><%= link_to "Users", "/auth/users/index" %></li>
<li><%= link_to "Roles", "/cms/roles" %></li>
<li role="separator" class="divider"></li>
<li><%= link_to "Chapters", "/cms/chapters" %></li>
<li role="separator" class="divider"></li>
<li><%= link_to "Pages", "/cms/pages" %></li>
<li><%= link_to "Page Sections", "/cms/page_sections" %></li>